@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin', 'Franklin Gothic Medium', 'Arial Narrow';
    background-color: #a6b3c3;
}

h2 {
    font-family: 'Cabin', 'Franklin Gothic Medium', 'Arial Narrow';
    font-size: 3vh;
}

h3 {
    font-family: 'Cabin', 'Franklin Gothic Medium', 'Arial Narrow';
    font-size: 2.25vh;
}

p {
    font-family: 'Cabin', 'Franklin Gothic Medium', 'Arial Narrow';
    font-size: 1.75vh;
}

#tentacles {
    width: 50px;
    padding-right: 20px;
}

.header-text {
    align-content: left;
    margin-right: auto;
    font-size: 4vh;
}

nav {
    padding-right: 40px;
    display: flex;
    flex-wrap: nowrap;
}

nav a {
    margin-left: 25px;
    text-decoration: none;
    font-size: 2vh;
    color:navy
}

a:hover {
    color: black;
    font-size: 2.5vh;
}

.header {
    display: flex;
    background-color: lightblue;
    padding: 1%;
    align-items: center;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -10px;
}

.stats-container {
    font-family: 'Cabin', 'Franklin Gothic Medium', 'Arial Narrow';
    display: flex;
    align-items: center;
    padding: 1%;
}

.stats-container:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

.stats-card {
    background-color: lightblue;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 4vh;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Cabin', 'Franklin Gothic Medium', 'Arial Narrow';
}

.game-img {
    width: 23vw;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 25vw;
    text-align: center;
    border-radius: 7px;
}

.game-card h3 {
    font-size: 2.25vh;
}

.game-card p {
    font-size: 1.75vh;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#button-container {
    text-align: center;
    padding: 20px 0px 30px 0px;
}

button {
    border: none;
    padding: 1%;
    margin: 1%;
    margin-right: 2vw;
    border-radius: 7px;
    font-size: 2vh;
    font-family: 'Cabin', 'Franklin Gothic Medium', 'Arial Narrow';
}

button:hover {
    cursor: pointer;
    background-color: lightblue;
}

input {
    border-radius: 5px;
    font-size: 2vh;
    font-family: 'Cabin', 'Franklin Gothic Medium', 'Arial Narrow';
}

#content {
    padding: 5%;
}